<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href=" /static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row" style="height: 100%">
        <div class="col-lg-4" style="font-size:18px;">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-4">
                    <img src="" alt="" id="pic_recv" style="width: 100px;height: 100px;border-radius: 50%">
                    <p id="username" style="padding-left:37px;">{{ user.name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-3 col-lg-4">
                    <input type='text' class="btn btn-sm btn-danger" id="open" value="开机">
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-12" style="font-size:18px">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="danger">
                            <th>在线人数</th>
                            <th colspan="2" id="count"></th>
                        </tr>
                        <tr class="info">
                            <th>序号</th>
                            <th>好友姓名</th>
                            <th>聊会</th>

                        </tr>
                        </thead>
                        <tbody id="tb">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
            <!--单聊 -->
            <div class="row" style="margin-bottom: 20px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p id="friend" class="text-center" style="font-size: large"></p>
                    </div>

                    <div class="panel-body" style="height:360px;overflow-y: hidden;">
                        <div class="row pre-scrollable" id="panel">

                        </div>
                    </div>

                </div>
                <div class="panel-footer" style="margin-top: -18px">
                    <div class="row">
                        <div class="col-lg-offset-6 col-lg-6">
                            <div class="input-group">
                                <input type="text" id="content" class="form-control"
                                       placeholder="Say something ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="send">send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--群聊 -->
            <div class="row" style="margin-bottom: 20px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="text-center" style="font-size: large">群聊</p>
                    </div>

                    <div class="panel-body" style="height:360px;overflow-y: hidden;">
                        <div class="row pre-scrollable" id="qun">

                        </div>
                    </div>

                </div>
                <div class="panel-footer" style="margin-top: -18px">
                    <div class="row">
                        <div class="col-lg-offset-6 col-lg-6">
                            <div class="input-group">
                                <input type="text" id="ctnx" class="form-control"
                                       placeholder="Say something ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="sendx">send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--机器人 -->
            <div class="row" style="margin-bottom: 20px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="text-center" style="font-size: large">小珠机器人</p>
                    </div>

                    <div class="panel-body" style="height:360px;overflow-y: hidden;">
                        <div class="row pre-scrollable" id="Ai">

                        </div>
                    </div>

                </div>
                <div class="panel-footer" style="margin-top: -18px">
                    <div class="row">
                        <div class="col-lg-offset-6 col-lg-6">
                            <div class="input-group">
                                <input type="text" id="ctnxx" class="form-control"
                                       placeholder="Say something ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="sendxx">send</button>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type></button>

</div>
<div id="xxx" style="display: none;">{{ user.avatar }}</div>

</body>

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js "></script>
{#<script src="/static/js/my.js"></script>#}

<script type="application/javascript">
    var ws = null;
    var username = null;
    var img1 = null;
    var img2 = null;
    var chat_id = null;
    window.onload = function () {
        img1 = document.getElementById("xxx").innerText;
        document.getElementById('pic_recv').src = 'http://127.0.0.1:5000/get_img/' + img1;
        username = document.getElementById("username").innerText;
        create_ws(username);
    };

    // 监听电话
    function create_ws(username) {
        ws = new WebSocket("ws://127.0.0.1:9528/ws/" + username);
        ws.onmessage = function (eventMessage) {
            console.log(eventMessage.data);
            str_obj = JSON.parse(eventMessage.data);

            //创建table
            if (str_obj.status == 0 | str_obj.status == 1) {
                var tb = document.getElementById('tb');
                tb.innerHTML = '';
                var b = 1;
                var ava = str_obj.avatar;
                var lock = str_obj.chating;
                $.each(str_obj.users, function (i, n) {
                    {#console.log(n, lock);#}
                    var tr = document.createElement('tr');
                    var bq = document.createElement('td');
                    if (lock.indexOf(n) >= 0) {
                        bq = `<td id='dan'><button id=${i} name='btn' class="btn btn-sm btn-warning" onclick="xx('${n}')">解绑</button></td>`
                    } else {
                        bq = `<td><button id=${i} name='btn' class="btn btn-sm btn-danger" onclick="xxx('${n}')">单聊</button></td>`
                    }

                    //排除自己信息
                    if (n != username) {
                        tr.innerHTML = `
                        <td>${b}</td>
                        <td>${n}</td>
                        ${bq}
                        `;
                        b += 1;
                        tb.append(tr);
                    }
                });
            }

            //自动加载部分
            var p = document.createElement("p");
            var n = document.getElementById('count');
            n.innerText = str_obj.count;


            //更新聊天框
            if (str_obj.status == 1) {
                var from = str_obj.from_user;
                var chat = str_obj.chat;
                var img22 = str_obj.img;
                document.getElementById('friend').innerText = from;
                var media = ` <div class="media">
                        <div class="media-left">
                            <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/${img22}'>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">${from}</h4>
                            <p>${chat}</p>
                        </div>
                    </div>`;
                $('#panel').append(media);
                if (img2 == null) {
                    img2 = img1;
                }
            }

            if (str_obj.status == 3) {
                img2 = null;
                var n1 = str_obj.from_user;
                document.getElementById('friend').innerText = '';
                document.getElementById('dan').innerHTML = `<button  name='btn' class="btn btn-sm btn-danger" onclick="xxx('${n1}')">单聊</button>`;
                $('#panel').text('');
            }

            if (str_obj.status == 4) {
                console.log(JSON.stringify(str_obj));
                var fromx = str_obj.from_user;
                var chatx = str_obj.chat;
                var img22x = str_obj.img;

                var mediax = ` <div class="media">
                        <div class="media-left">
                            <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/${img22x}'>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">${fromx}</h4>
                            <p>${chatx}</p>
                        </div>
                    </div>`;
                $('#qun').append(mediax);
            }
        };
    }

    $('#open').click(function () {
        sendStr = {
            to_user: username,
            status: 0,
        };
        ws.send(JSON.stringify(sendStr));
    });

    function xxx(name) {
        document.getElementById('friend').innerText = name;
        $.ajax({
            url: `/get_chat/${name}/${username}`,
            success: function (res) {
                console.log(JSON.stringify(res));
                if (res['code'] == 2) {
                    console.log(res.data['img']);
                    img2 = res.data['img'];
                    chat_id = res.data['chat_id'];
                }
            }
        });
        sendStr = {
            to_user: username,
            status: 0,
        };
        ws.send(JSON.stringify(sendStr));
    }

    function xx(name) {
        var friend = document.getElementById('friend').innerText;
        if (name != friend) {
            alert('无法解绑')
        } else {
            document.getElementById('friend').innerText = '';
            $('#panel').text('');
            document.getElementById('dan').innerHTML = `<button name='btn' class="btn btn-sm btn-danger" onclick="xxx('${name}')">单聊</button>`;
            sendStr = {
                from_user: username,
                to_user: name,
                status: 3,
            };
            ws.send(JSON.stringify(sendStr));
        }

    }


    $('#send').click(function () {
        var to_user = document.getElementById("friend").innerText;
        var content = document.getElementById('content').value;

        console.log(username, to_user, content);
        var sendStr = {
            from_user: username,
            to_user: to_user,
            chat: content,
            img: img2,
            status: 1,
        };

        console.log(JSON.stringify(sendStr));
        ws.send(JSON.stringify(sendStr));

        var media = ` <div class="media">
                        <div class="media-right pull-right">
                            <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/${img1}'>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-right">${username}</h4>
                            <p class='text-right'>${content}</p>
                        </div>
                    </div>`;

        $('#panel').append(media);
        document.getElementById('content').value = "";
    });

    //群聊
    $('#sendx').click(function () {
        var content = document.getElementById('ctnx').value;
        var sendStr = {
            from_user: username,
            chat: content,
            img: img1,
            status: 4,
        };

        console.log(JSON.stringify(sendStr));
        ws.send(JSON.stringify(sendStr));

        var media = ` <div class="media">
                        <div class="media-right pull-right">
                            <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/${img1}'>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-right">${username}</h4>
                            <p class='text-right'>${content}</p>
                        </div>
                    </div>`;

        $('#qun').append(media);
        document.getElementById('ctnx').value = "";
    });

    $('#sendxx').click(function () {
        var content = document.getElementById('ctnxx').value;
        var file_name = null;
        $.ajax({
            url: `/ai_chat/${content}/${username}`,
            {#data:{'Q':`${content}`},#}
            success: function (res) {
                console.log(JSON.stringify(res));
                if (res['code'] == 6) {
                    var file_name = res['chat'];
                    var mediaxx = ` <div class="media">
                <div class="media-left pull-left">
                    <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/jiqi.jpg'>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">小珠机器人</h4>
                    <audio autoplay="autoplay" src='/get_audio/${file_name}' ></audio>
                </div>
                </div>`;

                    $('#Ai').append(mediaxx);
                    document.getElementById('ctnxx').value = "";
                }
            }
        });

        console.log(username, content);
        var mediaxx = ` <div class="media">
                        <div class="media-right pull-right">
                            <img class="media-object" style="width:70px;height: 70px;border-radius: 50%" src='http://127.0.0.1:5000/get_img/${img1}'>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-right">${username}</h4>
                            <p class='text-right'>${content}</p>
                        </div>
                    </div>`;

        $('#Ai').append(mediaxx);
        document.getElementById('ctnxx').value = "";
    });

    {#<p><i class="fa-spin fa-circle-o-notch"></i></p>#}
</script>
</html>